<div
  class="about-me__subnav">
  <a
    routerLink="." fragment="cv">CV</a>
  <a
    routerLink="." fragment="exhibitions">Exhibitions</a>
  <a
    routerLink="." fragment="contact">Contact me</a>
</div>

<!--<ul>-->
<!--  <li *ngFor="let item of items | async">-->
<!--    {{ item.title }}-->
<!--  </li>-->
<!--</ul>-->

<!--<div-->
<!--  class="about-me__container">-->
<!--  <p>-->
<!--    Thanks for coming and checking out my page, here you will find a bunch of things you-->
<!--  </p>-->


<!--  <app-cv></app-cv>-->

<!--  <app-exhibitions></app-exhibitions>-->

<!--  <app-contact></app-contact>-->
<!--</div>-->
