<div
  class="about-me__subnav">
  <a
    routerLink="." fragment="cv">CV</a>
  <a
    routerLink="." fragment="exhibitions">Exhibitions</a>
  <a
    routerLink="." fragment="contact">Contact me</a>
</div>

<Oct-animated-message
  class="about-me__animated-message"
  [isAnimated]="shouldAnimate">
  Hello.
</Oct-animated-message>
<!--<div-->
<!--  class="about-me__container">-->
<!--  <p>-->
<!--    Thanks for coming and checking out my page, here you will find a bunch of things you-->
<!--  </p>-->


<!--  <app-cv></app-cv>-->

<!--  <app-exhibitions></app-exhibitions>-->

<!--  <app-contact></app-contact>-->
<!--</div>-->
