<div
  class="login__container">
  <h1>
    LOGIN
  </h1>
  <form
    (ngSubmit)="onSubmit()"
    [formGroup]="login">
    <label
      class="login__label">
      E-mail Address:
      <input
        class="login__input"
        type="text"
        formControlName="name"
        required>
    </label>
    <label
      class="login__label">
      Password:
      <input
        class="login__input"
        type="password"
        formControlName="password"
        required>
    </label>
    <button
      octButton
      type="submit"
      [disabled]="!login.valid">
      Submit
    </button>
  </form>
</div>
