<div
  *ngIf="!_authService.isLoggedIn()"
  class="login__container">
  <h1>
    LOGIN
  </h1>
  <form
    (ngSubmit)="onSubmit(login.value)"
    [formGroup]="login">
    <label
      class="login__label">
      E-mail Address:
      <input
        [ngClass]="{'login__input--invalid': email.invalid && (email.dirty || email.touched) }"
        class="login__input login__input--email"
        (blur)="onBlur()"
        type="text"
        formControlName="email">
    </label>
    <div
      class="login__input--invalid-text"
      *ngIf="email.invalid && (email.dirty || email.touched)">
      <small>
        E-mail is invalid.
      </small>
    </div>
    <label
      class="login__label">
      Password:
      <input
        [ngClass]="{'login__input--invalid': password.invalid && (password.dirty || password.touched) }"
        class="login__input"
        type="password"
        formControlName="password">
    </label>
    <div
      *ngIf="password.invalid && (password.dirty || password.touched)">
      <div
        class="login__input--invalid-text"
        *ngIf="password.errors.required">
        <small>
          Password is required
        </small>
      </div>
    </div>
    <button
      octButton
      type="submit"
      [disabled]="!login.valid">
      Submit
    </button>
  </form>
  <div
    *ngIf="this.errorMessage"
    class="login__errorMessage">
    {{ this.errorMessage }}
  </div>
</div>

<div
  *ngIf="_authService.isLoggedIn()"
  class="login__container">
  <h1>
    YOU ARE ALREADY LOGGED IN
  </h1>
  <h2>
    IF YOU ARE LOGGED IN AS SOMEONE ELSE PLEASE LOG OUT.
  </h2>
  <button
    octButton
    (click)="this._authService.logout()">
    Log out
  </button>
</div>
