app-footer:host{
  display: block;
  --homepage-logo-color: #00522D;
  --homepage-background-color: #9CFFE4;
}

.footer__grid-container {
  padding-top: 16px;
  background-color: var(--homepage-background-color);
  color: var(--homepage-logo-color);
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 50px;
}

button {
  float: right;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
}
