<header
  class="header__grid-container">

    <div
      class="header__grid-logo">
      <app-logo
        class="header__logo"></app-logo>
      Melissa Mepham
    </div>
    <div
      class="header__grid-container-items">
      <div
        class="header__grid-container-items-link-list">
      <a
        routerLink="/about"
        routerLinkActive="header__active-route">About</a>
      <a
        routerLink="/fun"
        routerLinkActive="header__active-route">Fun stuff</a>
      <a
        routerLink="/blog"
        routerLinkActive="header__active-route">Blog</a>
      <a
        routerLink="/home"
        routerLinkActive="header__active-route">Home</a>
    </div>
      <button
        (click)="onButtonClick()"
        octButton>
        <ng-container
          *ngIf="animationOn">
          Stop animations
        </ng-container>
        <ng-container
          *ngIf="!animationOn">
          Start animations
        </ng-container>
      </button>
    </div>
</header>
