app-header:host {

  --homepage-logo-color: #00778A;

  display: block;
}

.header__grid-container {
  display: grid;
  grid-template-columns: 20% 80%;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #38FFC9;
  align-items: center;
}
.header__grid-logo {
  column-gap: 10px;
  display: grid;
  grid-template-columns: 50px auto;
  align-items: center;
}

.header__grid-container-items {
  display: grid;
  grid-template-columns: 80% 20%;
  align-items: center;

  a {
    float: right;
    text-align: right;
    padding-right: 16px;
    padding-left: 16px;
    vertical-align: center;

  }
  button {
    float: right;
    padding-right: 16px;
    padding-left: 16px;
  }

}
.header__logo {
  ::ng-deep .logo{
    fill:var(--homepage-logo-color);
    width: 45px;
    height: 45px;
  }
}
