<header
  class="header__grid-container">

    <div
      class="header__grid-logo">
      <app-logo
        class="header__logo"></app-logo>
      Melissa Mepham
    </div>
    <div
      class="header__grid-container-items">
      <div
        class="header__grid-container-items-link">
      <a>About</a>
      <a>Fun stuff</a>
      <a>Blog</a>
      <a>Home</a>
    </div>
      <button
        (click)="onButtonClick()"
        octButton>
        <ng-container
          *ngIf="animationOn">
          Stop animations
        </ng-container>
        <ng-container
          *ngIf="!animationOn">
          Start animations
        </ng-container>
      </button>
    </div>
</header>
